[Desktop Entry]
Name=AHT0Gram Desktop
Comment=Desktop version of AHT0Gram - Telegram with Hookers and BlackJack
TryExec=AHT0GRAM-desktop
Exec=DESKTOPINTEGRATION=1 AHT0Gram-desktop -- %u
Icon=AHT0Gram
Terminal=false
StartupWMClass=AHT0Gram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=AHT0Gram-desktop -quit
Name=Quit AHT0Gram
Icon=application-exit
