[Desktop Entry]
Name=ATH0gram Desktop
Comment=Desktop version of ATH0gram - Autistic Telegram client
TryExec=ATH0gram-desktop
Exec=env DESKTOPINTEGRATION=1 ATH0gram-desktop -- %u
Icon=com.ATH0gram.desktop
Terminal=false
StartupWMClass=ATH0gram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=ATH0gram-desktop -quit
Name=Quit ATH0gram
Icon=application-exit
