[Desktop Entry]
Name=ATH0Gram Desktop
Comment=Desktop version of ATH0Gram Telegram client
TryExec=ath0gram-desktop
Exec=DESKTOPINTEGRATION=1 ath0gram-desktop -- %u
Icon=ath0gram
Terminal=false
StartupWMClass=ath0Gram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=athogram-desktop -quit
Name=Quit ATH0Gram
Icon=application-exit
